@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --maxWidth: 1440px;
    --mobWidth: 660px;
    --white: #fff;
    --lightGreen: #1eb8b8;
    --lightGrey: #eee;
    --medGrey: #353535;
    --darkGrey: #303030;
    --fontSuperBig: 2.5rem;
    --fontBig: 1.5rem;
    --fontMed: 1.2rem;
    --fontSmall: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

a:hover, button:hover {
    color: var(--lightGreen) !important;
    transition: .5s color ease;
}

.input-error {
    border: 1px solid red;
}

.input-error-message {
    color: red;
    margin: 10px 0;
    display: inline-block;
    text-transform: capitalize;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200px;
    justify-content: space-between;
}

.container {
    width: 80%;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: crosshair;
}

ul, .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.arrow {
    width: 12px;
    margin-top: 3px;
    margin-left: 0.6rem;
    fill: black;
}

.arrow-light {
    fill: white;
}

.nav-item {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-item-light {
    color: #fff;
}

.d-none {
    display: none;
}

.overLay {
    background: lightgray;
}

.blog-card-wrap {
    position: relative;
    padding: 4rem 1rem;
    background-color: white;
}

.blog-cards {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
}

.overflow-hidden {
    overflow: hidden;
}

.success-text {
    color: green;
    font-weight: 500;
}

.error-text {
    color: red;
    font-weight: 500;
}

@media all and (min-width: 550px) {
    .blog-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 760px) {
    .blog-card-wrap {
        padding: 4.5rem 1rem;
    }

    .blog-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 900px) {
    .blog-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1200px) {
    .blog-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}


