@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --maxWidth: 1440px;
    --mobWidth: 660px;
    --white: #fff;
    --lightGreen: #1eb8b8;
    --lightGrey: #eee;
    --medGrey: #353535;
    --darkGrey: #303030;
    --fontSuperBig: 2.5rem;
    --fontBig: 1.5rem;
    --fontMed: 1.2rem;
    --fontSmall: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none !important;
}
a:hover, button:hover{
    color: var(--lightGreen) !important;
    transition: .5s color ease;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200px;
    justify-content: space-between;
}

.container {
    width: 80%;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

ul, .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.arrow {
    width: 12px;
    margin-top: 3px;
    margin-left: 0.6rem;
    fill: black;
}

.arrow-light {
    fill: white;
}
.nav-item {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-item-light {
    color: #fff;
}

.d-none{
    display: none;
}

.overLay{
    background: lightgray;
}

.blog-card-wrap{
    position: relative;
    padding: 4rem 1rem;
    background-color: white;
}
.blog-cards{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
}

.overflow-hidden{
    overflow: hidden;
}

@media all and (min-width: 550px) {
    .blog-cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (min-width: 760px) {
    .blog-card-wrap{
        padding: 4.5rem 1rem;
    }
    .blog-cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (min-width: 900px) {
    .blog-cards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media all and (min-width: 1200px) {
    .blog-cards{
        grid-template-columns: repeat(4,1fr);
    }
}


/* styles for login signup and forogt password*/
.form-wrap {
    display: flex;
    overflow: hidden;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.login-register {
    margin-bottom: 8px;
}

label{
    display: block;
    margin-bottom: 8px;
}
form {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--darkGrey);
    margin: 16px 0 16px 0;
}

.inputs {
    width: 100%;
    max-width: 350px;
    margin-top: 8px;
}

.input {
    position: relative;
    margin-bottom: 8px;
}

input {
    width: 100%;
    border: none;
    background-color: #f2f7f6 !important;
    padding: 4px 4px 4px 40px;
    height: 50px;
}

input:focus {
    outline: none;
}

.icon {
    width: 20px;
    position: absolute;
    left: 9px;
    top: 44px;
}

.forgot-password {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease all;
    margin-top: 8px;
    margin-bottom: 8px;
}

.forgot-password:hover {
    border-color: var(--darkGrey);
}
button {
    transition: all .5s ease;
    cursor: pointer;
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #303030;
    color: #fff;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
}
.router-link{
    text-decoration: underline !important;
    color: black;
}
.angle{
    position: absolute;
    background-color: #fff;
    transform: rotate(3deg);
    width: 60px;
    right: -30px;
    height: 101%;
}
.background{
    display: none;
    flex: 2;
    background-size: cover;
    background-image: url("../../assets/background.png");
    width: 100%;
    height: 100%;
}
@media all and (min-width: 900px) {
    .form-wrap {
        width: 100%;
    }

    form {
        padding: 0 50px;
    }

    h2 {
        font-size: 40px;
    }
    .angle{
        display: initial;
    }
    .background{
        display: initial;
    }
}